@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: #cbd5e1;
}

html {
	scroll-behavior: smooth !important;
}

:focus-visible {
	outline: none;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: #64748b;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #94a3b8;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #cbd5e1;
}

::selection {
	background-color: #cbd5e1;
	color: #020617;
}

img {
	user-select: none;
}

@layer components {
	.btn-base {
		@apply py-2 px-3 transition ease-in-out duration-300 cursor-pointer focus:ring-1 hover:bg-slate-900 rounded-2xl;
	}
}

@layer utilities {
	.btn-base:hover {
		box-shadow: 0px 2px 10px 10px #0f172a33;
	}
}

@layer base {
	:root {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;

		--radius: 0.5rem;

		--shadow-base: 0px 2px 10px 10px #0f172a33;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}